* {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
}

/*---------Navigation Links -----------*/

.navbar,
.btn {
  background-color: #02b290;
}

.btn a::after {
  width: 0%;
  content: "";
  height: 4px;
  background: #e6f840;
  display: block;
  transition: 0.5s;
}
.btn a:hover::after {
  width: 100%;
}

.btn a {
  text-decoration: none;
  color: rgb(17, 17, 17);
}
.btn a:hover {
  color: aliceblue;
  text-decoration: none;
}

/*---------Background Image -----------*/
.bg-img,
.bg-img-blog {
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img {
  min-height: 100vh;
  background-image: url(images/finlit-webbanner-1920x500_2.png);
}
.bg-img-blog {
  min-height: 40vh;
  background-image: url(images/finlit-webbanner-1920x500_2\ -\ Copy.png);
}

/*--------- Header Section / Tagline  ------------*/

.tagline {
  width: 100%;
  top: 38%;
  color: #e6f840;
  position: absolute;
  text-align: center;
}
.tagline h1 {
  font-size: 85px;
}
.tagline p {
  font-size: 30px;
}

/*--------- Media Queries Header and Body ------------*/

@media (max-width: 700px) {
  .tagline h1 {
    font-size: 2em;
    padding-top: 42px;
    font-weight: bolder;
  }
  .tagline p {
    font-size: 17px;
  }
  .container1,
  .video_container {
    flex-direction: column;
  }
}

/*--------- Blog Section  ------------*/

.blogs,
.videos {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.blogs h1,
.videos h1 {
  font-size: 3em;
}
.container1 {
  display: flex;
  justify-content: space-between;
  grid-gap: 1vw;
}
.container1 .topic {
  flex-basis: 31%;
  background: rgba(25, 189, 126, 0.7);
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 20px 12px;
  min-height: 150px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topic:hover {
  background: whitesmoke;
  transition: 0.5s;
}
.topic a {
  text-decoration: none;
  color: rgb(73, 71, 71);
}
.topic a:hover {
  color: rgb(73, 71, 71);
}

/*-------- Videos Portion ----------*/
.video_container {
  display: flex;
  grid-gap: 1vw;
  min-height: 200px;
}
.video_container iframe {
  border-radius: 10px;
}
.video_button {
  padding-top: 50px;
}
.video_button a {
  text-decoration: none;
  color: black;
  border: black 2px solid;
  font-size: 15px;
  padding: 10px;
}
.video_button a:hover {
  border: 2px solid rgba(25, 189, 126, 0.7);
  background: rgba(25, 189, 126, 0.7);
  transition: 1s;
  color: black;
}

/*-------- Footer Section ----------*/
.footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 10px;
}
.footer p {
  font-size: 13px;
}

.footericons a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}
.footericons a:hover {
  color: #02b290;
}

/*------------- Blog- Page -------------*/
.tagline-blog {
  width: 100%;
  top: 26vh;
  color: #e6f840;
  position: absolute;
  text-align: center;
}
.tagline-blog h1 {
  font-size: 10vh;
}
.blog-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
/*------------- Navigation Blog- Page -------------*/

.accordion-collapse .accordion-body {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.accordion-collapse .accordion-body:hover {
  text-decoration: underline;
  cursor: pointer;
}

.row button {
  border: rgba(25, 189, 126, 0.7) 2px solid;
  font-size: 18px;
}
.row button:hover,
.small-vid-row:hover {
  background: rgba(25, 189, 126, 0.7);
  transition: 1s;
  color: black;
}
.col-sm-8 article {
  display: none;
}
.col-sm-8 img {
  width: 50%;
  height: auto;
  float: right;
  padding: 5px;
}

/*------------- Video Blog- Page -------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
.small-vid-row {
  display: flex;
  margin: 20px 0;
  align-items: center;
  width: 85%;
  border: rgba(25, 189, 126, 0.7) 2px solid;
  border-radius: 5px;
}
.small-vid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-vid video {
  width: 120px;
}
.small-vid-row span {
  margin-left: 5px;
  line-height: 22px;
  font-size: 15px;
  cursor: pointer;
}
.video-player {
  display: none;
  margin-top: 30px;
}
.video-player1 {
  margin-top: 30px;
}

/*------------- tools page -------------*/

.tool_container {
  width: 80%;
  margin: 80px auto;
}

.tool-img img {
  margin-top: 20px;
  border-radius: 10%;
  box-shadow: 1px 1px 2px 1px rgba(25, 189, 126, 0.7);
}

.tool-img img:hover {
  transform: scale(1.3);
}
